# -------------------------------------------------------------------------------------------------
# app
# -------------------------------------------------------------------------------------------------
NEXT_PUBLIC_APP_BASE_URL="http://localhost:3000"
# imprint service
NEXT_PUBLIC_REDMINE_ID="21622"
# web crawlers
BOTS="disabled"

# -------------------------------------------------------------------------------------------------
# analytics
# -------------------------------------------------------------------------------------------------
NEXT_PUBLIC_MATOMO_BASE_URL="https://matomo.acdh.oeaw.ac.at"
NEXT_PUBLIC_MATOMO_ID=

# -------------------------------------------------------------------------------------------------
# search
# -------------------------------------------------------------------------------------------------
NEXT_PUBLIC_TYPESENSE_API_KEY="XhSJjTNqAlkMZcxGScRTt8WJoBbDAvcX"
NEXT_PUBLIC_TYPESENSE_PORT="443"
NEXT_PUBLIC_TYPESENSE_PROTOCOL="https"
NEXT_PUBLIC_TYPESENSE_HOST="typesense.acdh-dev.oeaw.ac.at"
NEXT_PUBLIC_TYPESENSE_COLLECTION_PREFIX="viecpro_"
