# dependencies
node_modules/
.pnpm-store/

# logs
*.log

# non-public environment variables
.env
.env.local
.env.*.local

# caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# vercel
.vercel

# misc
.DS_Store

# next.js
.next/
next-env.d.ts
out/
