# dependencies
node_modules/
.pnpm-store/

# nuxt.js
dist
.nuxt/
.nitro/
.output/

# logs
*.log

# non-public environment variables
.env
.env.local
.env.*.local

# caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# misc
.DS_Store
.idea

# generated assets
/public/**/favicon.ico
/public/**/icon.svg
/public/**/android-chrome-192x192.png
/public/**/android-chrome-512x512.png
/public/**/apple-touch-icon.png
/public/**/app.webmanifest
/public/**/image.webp

# notes
DEV_NOTES.md