*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	overflow: hidden;
	background-color: theme(colors.neutral.50);
	color: theme(colors.neutral.900);
	font-size: theme(fontSize.base);
	font-family: theme(fontFamily.sans);
	overflow-wrap: break-word;
	tab-size: 4;
	block-size: 100%;
	font-synthesis: none;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

body {
	overflow: hidden;
	block-size: 100%;
}

#__nuxt {
	overflow-y: scroll;
	block-size: 100%;
}

[id] {
	scroll-margin-block-start: 2ex;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}
