/* stylelint-disable color-no-hex */
/* stylelint-disable custom-property-empty-line-before */

@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@plugin "tailwindcss-react-aria-components";

@theme {
	--color-*: initial;
	--font-*: initial;

	--color-white: #fff;
	--color-black: #000;

	--color-neutral-50: oklch(98.5% 0 0deg);
	--color-neutral-100: oklch(97% 0 0deg);
	--color-neutral-200: oklch(92.2% 0 0deg);
	--color-neutral-300: oklch(87% 0 0deg);
	--color-neutral-400: oklch(70.8% 0 0deg);
	--color-neutral-500: oklch(55.6% 0 0deg);
	--color-neutral-600: oklch(43.9% 0 0deg);
	--color-neutral-700: oklch(37.1% 0 0deg);
	--color-neutral-800: oklch(26.9% 0 0deg);
	--color-neutral-900: oklch(20.5% 0 0deg);
	--color-neutral-950: oklch(14.5% 0 0deg);

	/** Mineral-green. */
	--color-brand-50: #f5f8f6;
	--color-brand-100: #dee9e5;
	--color-brand-200: #bdd2c9;
	--color-brand-300: #94b4a8;
	--color-brand-400: #6d9486;
	--color-brand-500: #53796d;
	--color-brand-600: #3c5950;
	--color-brand-700: #374e48;
	--color-brand-800: #2f403b;
	--color-brand-900: #2a3733;
	--color-brand-950: #151e1c;

	--color-status-green: oklch(63% 0.194 149.214deg);
	--color-status-yellow: oklch(68% 0.162 75.834deg);
	--color-status-red: oklch(58% 0.245 27.325deg);

	--font-body: var(--_font-body, ui-sans-serif), system-ui, sans-serif;
	--font-heading: var(--_font-heading, var(--font-body));

	--breakpoint-xs: 30rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: 96rem;
	--breakpoint-3xl: 120rem;
}

@utility focus-outline {
	@apply outline-solid outline-2 outline-brand-600 outline-offset-2;
}

@utility focus-outline-inverse {
	@apply outline-white;
}

@utility focus-outline-offset-0 {
	@apply outline-offset-0;
}

@utility -focus-outline-offset-2 {
	@apply -outline-offset-2;
}

@utility interactive {
	@apply relative overflow-clip after:absolute after:inset-0 after:transition;
}

@utility hover-overlay {
	@apply after:bg-brand-950/10;
}

@utility select-overlay {
	@apply after:border-white after:border-b-2;
}

@utility press-overlay {
	@apply after:bg-brand-950/15;
}

@utility target-area {
	@apply before:absolute before:min-w-[48px] before:min-h-[48px] before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2;
}

@layer base {
	*,
	*::after,
	*::before {
		margin: 0;
		padding: 0;
	}

	:root,
	body {
		block-size: 100%;
	}

	:root {
		@apply bg-white text-brand-950 font-body;

		overflow-wrap: break-word;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		text-size-adjust: none;
		-webkit-tap-highlight-color: transparent;
		interpolate-size: allow-keywords;
	}

	:focus {
		/** Transparent outline. */
		@apply outline-hidden;
	}

	:focus-visible {
		@apply outline-solid outline-2 outline-brand-600 outline-offset-2;
	}

	/** Let react aria components handle focus state. */
	[data-rac]:where(:focus, :focus-visible) {
		@apply outline-hidden;
	}

	blockquote {
		text-wrap: balance;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		font-family: var(--font-family-heading);
		text-wrap: balance;
	}

	iframe {
		border: 0;
	}

	p {
		text-wrap: pretty;
	}

	table {
		font-variant-numeric: tabular-nums;
	}

	textarea {
		field-sizing: content;
		min-block-size: 3lh;
	}

	[id] {
		scroll-margin-block-start: 2ex;
	}

	[inert] ::-webkit-scrollbar {
		display: none;
	}

	/* stylelint-disable-next-line order/order */
	@media (prefers-reduced-motion: reduce) {
		*,
		*::after,
		*::before {
			transition-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			scroll-behavior: auto !important;
		}
	}

	.prose a:focus-visible {
		@apply focus-outline;
	}
}
